<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <style media="screen">
    body {

      margin-left:70px;
      background-image:url("https://www.linkpicture.com/q/asset.jpg");
      background-size: 1450px 900px;

    }
    div {
  background-color: #F0FFFF;
  width: 350px;
  padding: 50px;
  margin: 20px;
}
  </style>

</head>

<body>
  <div>
    <h1>Add a user</h1>
    <form class="" action="/" method="post">
      <label for="">First Name</label>
      <input type="text" name="fname" value="" placeholder="First Name">
      <br>
      <br>
      <label for="">Last Name</label>
      <input type="text" name="lname" value="" placeholder="Last Name">
      <br>
      <br>

      <label for="">Mobile Number</label>
      <input type="text" name="phone" value="" maxlength="13" placeholder="Mobile number">
      <br>
      <br>

      <label for="">Email</label>
      <input type="email" name="email" value="" placeholder="email">
      <br>
      <br>

        <label for="" required="required">Type</label>
        <select name="type" id="">
          <option>Virtual</option>
          <option>Offline</option>
        </select>


        <br>
        <br>
        <input type="reset">
        <input type="submit">




      </form>
  </div>

</body>

</html>
