<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
    body {
      margin-left:70px;
      background-image:url("https://www.linkpicture.com/q/asset.jpg");
      background-size: 1500px 900px;
    }
    </style>
  </head>
  <body>
    <h1 style="text-align: center;">Congratulations!! You are invited</h1>
  </body>
</html>
